<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- para usar js em arquivos .ejs basta colocar entre <% %> -->
    <div class="container">
        <div class="content">
            <% if(users.length > 0) { %> <% users.forEach(user => { %>
                <h3 class="title"><%= user.firstName %></h3>
                <p class="email"><%= user.email %></p>
                <p class="password"><%= user.password %></p>
            <% }) %> 
            <% } else { %> 
                <h3>Não há usuários para exibir</h3>
            <% } %>
        </div>
    </div>
</body>
</html>